<h1>lambdas</h1>

<p>Lambdas are one of those things which are very confusing at first but once you get it you will see how cool it is. Lambdas are basically functions, more appropriately anonymous functions. They don't belong to any specific class and can be passed around
    like objects. Here I am going to show how to write <code>lambdas in Java and Python</code>. The same concept is shared by many other languages like <code>Javascript, C++, C#, Swift.</code>
</p>

<h2>Lambdas in Python</h2>
<p>
    In Python, if we have to write a function that takes two numbers and returns the summation of those two numbers this is how we will do it:
</p>
<code data-gist-id="1af58e11126313e32788c8b536554adc" gist-enable-cache="true"></code>
<p>
    How do we implement the same with lambdas?
</p>
<code data-gist-id="49a80914106fed383197f701ea1d51ba" gist-enable-cache="true"></code>
<p>So the format is <code>lambda <params> : <operations>.</code> In this example <code>x</code>, <code>y</code> are the parameters and <code>x+y</code> is the operation that the function performs. So when I called the lambda <code>add(4,5)</code>4 and 5
    are assigned to x and y, then the function performs the job and automatically returns the value. Note that we don't to use <code>return</code> keyword.
</p>
<p>
    Now let's say I need to write a method that filters out elements from a list based of a condition. I may want to use different conditions to filter different lists. So will write different methods for diferent conditions? Absolutely not. Because they
    are doing the same thing, just the condition part is different. So here we can use lambdas to supply the conditions to the function that's going to actually filter. Here's an example:
</p>
<code data-gist-id="b3be617109cc81110c776c0ff4351e55" gist-enable-cache="true"></code>
<p>Note that the line 7 could be broken down like this:
</p>
<code data-gist-id="aaddd8e511ae19998abc6c589615121a" gist-enable-cache="true"></code>

<h2>Lambdas in Java</h2>
<p>
    Let's start with the syntax. It's a little different from lambdas in Python. So here, you don't need to use the lambdas keyword in front of the definition and you will also need an <code>interface</code>. Because in Java, lambdas are mainly used to
    replace anonymous classes with this simple inline implementation of the functional interfaces. So if you write a lambda function in Java it will look like this:
</p>
<code data-gist-id="1af695990311695ef7a8a6e4fe5fbbd5" gist-enable-cache="true"></code>
<p>
    It can also be used with <code>.forEach()</code>
</p>
<code data-gist-id="646c5292ecf531cf977503008de76b98" gist-enable-cache="true"></code>