<!-- public/views/home.html -->

<div class="jumbotron text-center home">
    <h1>Aditi Datta</h1>

    <div>
        <h3>Who is she??</h3>
        <span>She is a 24 years old software engineer from India. She likes to call herself a life-long learner and educator. She has spent last three years in the United States. She loves computers and likes to discuss and share knowledge. You can check <a href="http://polygons.me/topics">this page</a> out, here she writes about some of her favorite topics in Computer Science. Other than that she likes Mathematics, Travelling, Sketching, a nice cup of Tea, good Food and Cats. </span>
    </div>

    <div>
        <h3>What is she learning right now?</h3>
        <span>She learns something new everyday. Just right now she came from one of her "Learn French" sessions and planning to take a peek at <a href="https://en.wikipedia.org/wiki/Shor%27s_algorithm">Shor's Algorithm</a></span>
    </div>

    <div>
        <h3>Any Skills?</h3>
        <span>Problem Solving, Analysis of Algorithms, Fast coding and debugging. </span>
    </div>

    <div>
        <h3>What's her tech stack? </h3>
        <span>Java, C/C++, Python, MySQL, MongoDB, Elasticsearch, Redis, Memcached, HTTP, OAuth, Spring, Hibernate, Node.js, Express, Django, Scikit-learn, theano, numpy, pandas, Google Cloud Platform, AngularJS, JQuery, Bootstrap, D3.js, CSS, git, Travis CI, Jenkins, Junit, unittest, gdb, valgrind, Karma</span>
    </div>

    <div>
        <h3>What did she use to create this website? </h3>
        <span>MongoDB, Elasticsearch, HTTP, Node.js, ExpressJS, AngularJS, Bootstrap, CSS, HTML, nginx, Digital Ocean</p>
    </div>

    <div>
        <h3>Opportunities that she would love to hear about?</h3>
        <span>Large-scale systems, designing APIs, Full-Stack(Back-end: 70%, Front-end: 30%), Full-time, Contract, Tutor</span>
    </div>

    <div>
        <h3>Want to contact her?</h3>
        <span>Email id: aditidatta0@gmail.com</span>
    </div>
</div>