<!-- public/views/home.html -->

<div class="jumbotron home">
    <h1>Aditi Datta</h1>

    <p>{{ tagline }}</p>

    <div>
        <h3>A usual day:</h3>
        <span>Learn new things. Code. Eat. Sleep.</span>
    </div>

    <div>
        <h3>Languages that I mostly use:</h3>
        <span>Java, Python, C/C++, HTML, Javascript, CSS </span>
    </div>

    <div>
        <h3>Other skills:</h3>
        <span>Algorithms, </span>
    </div>

    <div>
        <h3>Things I am learning right now: </h3>
        <span>Data Mining, French. </span>
    </div>

    <div>
        <h3>Opportunities that currently interests me:</h3>
        <span>Large-scale systems, designing APIs, Full-Stack(Back-end: 70%, Front-end: 30%)</span>
    </div>

    <div>
        <h3>Few Blogs that I love:</h3>
        <span>HighScalability.com, Medium.com, Wired.com, MIT's Technology Review</span>
    </div>

    <div>
        <h3>Age:</h3>
        <span>24 years </span>
    </div>

    <div>
        <h3>Education:</h3>
        <span>MS, California State University, Long Beach, May, 17</span>
    </div>

    <div>
        <h3>Experience:</h3>
        <span>2+ years as Freelance Software Dev, and Computer Science Tutor, </span>
    </div>

    <div>
        <h2>Tech Stack</h2>
        <h3>Experience:</h3>
        <span>2+ years as Freelance Software Dev, and Computer Science Tutor, </span>
    </div>

    <div>
        <h3>When I am not coding:</h3>
        <span><a href="#">Travelling</a>, <a href="#">Sketching</a> </span>
    </div>

    <div>
        <h3>Text: </h3>
        <span>text2</span>
    </div>
    <div>
        <h2>Tech Stack: </h2>
        <p><strong><i>Back-End:</i></strong> MySQL, MongoDB, Elasticsearch, Redis, Memcached, Multi-threading, HTTP, OAuth, Spring, Hibernate, Node.js, Express, Django, Bower, Docker, Google Cloud Platform, Digitl Ocean, nginx</p>
        <p><strong><i>Front-End:</i></strong> AngularJS, JQuery, Bootstrap, D3.js, CSS</p>
        <p><strong><i>CI and Version Control:</i></strong> git, Travis CI, Jenkins</p>
        <p><strong><i>Testing and Debugging:</i></strong> Junit, unittest, gdb, valgrind, Karma</p>
    </div>

    <div>
        <h2>This website: </h2>
        <p><strong><i>Back-End:</i></strong> MongoDB, Elasticsearch, HTTP, Node.js, Express, Digitl Ocean</p>
        <p><strong><i>Front-End:</i></strong> AngularJS, JQuery, Bootstrap, CSS</p>
    </div>

</div>