<!-- public/views/home.html -->

<div class="jumbotron home">
    <h1>Aditi Datta</h1>

    <p>{{ tagline }}</p>

    <div>
        <h4>A usual day?</h4>
        <span>Learn new things. Code. Eat. Sleep.</span>
    </div>

    <div>
        <h4>Languages that I mostly use?</h4>
        <span>Java, Python, C/C++, HTML, Javascript, CSS </span>
    </div>

    <div>
        <h4>Other skills?</h4>
        <span>Algorithms, </span>
    </div>

    <div>
        <h4>Things I am learning right now?</h4>
        <span>Data Mining, French. </span>
    </div>

    <div>
        <h4>Opportunities that currently interests me?</h4>
        <span>Large-scale systems, designing APIs, Full-Stack(Back-end: 70%, Front-end: 30%)</span>
    </div>

    <div>
        <h4>Few Blogs that I love?</h4>
        <span>HighScalability.com, Medium.com, Wired.com, MIT's Technology Review</span>
    </div>

    <div>
        <h4>Age?</h4>
        <span>24 years </span>
    </div>

    <div>
        <h4>Education?</h4>
        <span>MS in Electrical Engineering, California State University, Long Beach, May, 17</span>
    </div>

    <div>
        <h4>Experience?</h4>
        <span>2+ years as Freelance Software Dev, and Computer Science Tutor, </span>
    </div>

    <div>
        <h4>And other passions?</h4>
        <span><a href="#">Travelling, Hiking</a>, <a href="#">Sketching</a> </span>
    </div>

    <div>
        <h3>Tech Stack: </h3>
        <p><strong><i>Back-End:</i></strong> MySQL, MongoDB, Elasticsearch, Redis, Memcached, Multi-threading, HTTP, OAuth, Spring, Hibernate, Node.js, Express, Django, Bower, Docker, Google Cloud Platform, Digitl Ocean, nginx</p>
        <p><strong><i>Front-End:</i></strong> AngularJS, JQuery, Bootstrap, D3.js, CSS</p>
        <p><strong><i>CI and Version Control:</i></strong> git, Travis CI, Jenkins</p>
        <p><strong><i>Testing and Debugging:</i></strong> Junit, unittest, gdb, valgrind, Karma</p>
    </div>

    <div>
        <h3>This website: </h3>
        <p><strong><i>Back-End:</i></strong> MongoDB, Elasticsearch, HTTP, Node.js, Express, Digitl Ocean</p>
        <p><strong><i>Front-End:</i></strong> AngularJS, JQuery, Bootstrap, CSS</p>
    </div>

</div>
