/*.home h3 {
    border-bottom: 2px solid #000000;
}

.home h4 {
    display: inline-block;
    border-bottom: 1px solid #000000;
    font-family: "Courier New", Monospace;
    font-weight: bold;
}*/

.home .container {
    max-width: 758px;
}

.home span {
    /*margin-left: 10px;*/
    /*font-family: "Courier New", Monospace;*/
    font-size: 18px;
}

.home p {
    font-size: 18px;
}

