<h3>Text mining app for Android</h3>

<p>Personal app which listens to the incoming message notifications, and parses them to search for specific keywords. checks if it's from a client or a student and also adds appointments automatically to the calendar, handles cancellations, or reschedules.
    If it's a new client or a new student, adds them to the internal storage, then to the DB when finalized. </p>
<h5>Tech Stack:</h5>
<p>Java, Android SDK, SQLite</p>

<h5> More details will be added soon...</h5>