<h1>Cars API for Craigslist</h1>

<h3>Provides a REST API to Craiglist's used cars' postings.</h3>

<h2>Crawler:</h2>
<p>Crawls the website for postings, scrapes and stores only the make, model, price and a few other properties and the url to the original posting.</p>

<h2>Query API:</h2>
<p>The REST layer, it's job is to parse queries and fetching data from DTO layer or Cache.</p>

<h2>Data Source:</h2>
<p>Cache and MySQL Database</p>

<h2>Tech Stack:</h2>
<p>Java, JUnit, Spring MVC, Spring Boot, JPA, Hibernate, Jackson, Jenkins maven, Digital Ocean</p>

<h2> More details will be added soon...</h2>